@model Mgmt30toolset.Web.ViewModel.LoginFormViewModel

@{ Layout = "_Layout"; }

<form method="post" asp-controller="Account" asp-action="Login" asp-antiforgery="true">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
   <div class="row">
       <div class="col-12 text-center">
        <h4>Log in</h4>
        <a class="btn btn-danger" asp-action="GoogleLogin" asp-route-returnUrl="@ViewBag.returnUrl">
            Log in with Google
        </a>
        </div>
    </div>
</form>
